
<div class="hero">
    <img class="pattern" src="../../assets/pattern.svg" alt="">
    <img class="pattern2" src="../../assets/pattern.svg" alt="">
    <div class="splash__buttonAnim">
        <lottie-player src="../../assets/105478-black-lines.json" autoplay loop  background="none" animation speed='.5'>
        </lottie-player> 
    </div>
    <div class="hero__text">
        <p class="text1"> I Care About <span class="icon"><lottie-player src="../../assets/eye.json" style="width: 70px; height: 70px;" autoplay loop  background="none" animation speed='.5'>
        </lottie-player>  </span> <span class="hero__text2">  User Journey by Creating User Friendly Design.</span></p>
        <p class="head__four">I'm <span>  VICTORIA .O. ONOGU</span>, a <span> UI/UX DESIGNER </span>  based in the Netherlands, I am a lover of flowers and arts.</p>
    </div>
    <div class="marquee">
        <div class="marqueecontent">
            <img  src="../../assets/vicy-art1.jpg" alt="">
            <img src="../../assets/vicky-art2.jpg" alt="">
            <img src="../../assets/vicky-art3.jpg" alt="">
            <img src="../../assets/vicky-art4.jpg" alt="">
            <img src="../../assets/vicky-art5.jpg" alt="">
            <img  src="../../assets/vicy-art1.jpg" alt="">
            <img src="../../assets/vicky-art2.jpg" alt="">
            <img src="../../assets/vicky-art3.jpg" alt="">
            <img src="../../assets/vicky-art4.jpg" alt="">
        </div>
    </div>
    <div class="link">
        <a href="">Recent Project</a>
        <a href="">See more</a>
    </div>
</div>
