
<div class="hero">
    <div class="text">
        <p class="text1">Make brand identities from scratch and help big brands stay mighty</p>
        <p class="text2">I'm julia, a designer with an affinity for working with creative clients on everything from brand identities and websites, to custom environmental graphics</p>
    </div>
    <div class="marquee">
        <div class="marqueecontent">
            <img  src="/assets/img1.jpg" alt="">
            <img src="/assets/img2.jpg" alt="">
            <img src="/assets/img3.jpg" alt="">
            <img src="/assets/img4.jpg" alt="">
            <img src="/assets/img5.jpg" alt="">
            <img src="/assets/img6.jpg" alt="">
            <img src="/assets/img7.jpg" alt="">
            <img src="/assets/img8.jpg" alt="">
        </div>

    </div>
    <div class="link">
        <a href="">Recent Project</a>
        <a href="">See more</a>
    </div>
    
</div>
