.hero {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.pattern {
  position: absolute;
  top: 0;
  right: 0;
  height: 40%;
  opacity: 0.1;
}
.pattern2 {
  position: absolute;
  bottom: 5%;
  left: 0;
  height: 40%;
  opacity: 0.1;
}
.hero__text2{
  margin-left: 90px;
}

.icon{
  position: absolute;
  top: 17%;
  transform: translateY(-50%);
}

.splash__buttonAnim {
  position: absolute;
  top: -50%;
  left: 0%;
  z-index: -1;
  width: 100%;
  opacity: 0.3;
}
.hero__text {
  width: 65%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  z-index: 5;
}

.marqueecontent img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
}
.marqueecontent img:hover {
  transform: scale(1.2);
  border-radius: 10px;
}
.marquee {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  padding: 30px 0;
}
.marqueecontent {
  animation: marquee 20s linear infinite;
}
.marqueecontent:hover {
  animation-play-state: paused;
}
.text1 {
  font-size: clamp(30px, 5vw, 70px);
  font-weight: 700;
  position: relative;
}

p {
  text-align: center;
}
.link {
  padding: 0 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.link a {
  text-decoration: none;
  color: white;
  transition: all 0.3s linear;
}
.link a:hover {
  text-decoration: underline;
  color: aqua;
}
@keyframes marquee {
  100% {
    transform: translate(-40%, 0);
  }
}



@media screen and (max-width: 820px) {
  .hero__text {
    height: 70vh;
    width: 85%;
  }
}

@media screen and (max-width: 480px) {
  .splash__buttonAnim {
    position: absolute;
    top: -20%;
    left: 0%;
    z-index: -1;
    width: 100%;
    opacity: 0.3;
  }
}
