<div class="contact">
    <div class="contact__info">
        <div class="contact__head">
            <p class="head__two">Want to get in touch?</p>
        </div>
        
        <div class="contact__details">
            <p class="text2">CONTACT ME</p>
            
            <a href="mailto:victoria.eneji1@gmail.com" class="head__four" >Email: victoria.eneji1@gmail.com</a>
            
            <a href="tel:+31649328409" class="head__four">Tel: +31649328409</a>
        </div>
    </div>
    <div class="contact__img"></div>
</div>
