<div class="contact">
    <div class="contact__info">
        <div class="contact__head">
            <p class="head__two">Open the Web, Empower the world</p>
            <p class="head__four">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci tenetur error facilis dolores, quas id.</p>
        </div>
        
        <div class="contact__details">
            <p class="text2">CONTACT ME</p>
            <p class="head__four">Email: victoria.eneji1@gmail.com</p>
            <p class="head__four">Tel: +31649328409</p>
        </div>
    </div>
    <div class="contact__img"></div>
</div>
