<div class="services">
  <div class="service__container">
    <div class="service__text">
      <div class="service__left">
        <p class="head__four spec">Specialization</p>
        <p class="number">01</p>
      </div>
      <div class="service__right">
        <h2 class="head__two">About me</h2>
        <p class="head__four">
          I am an Architect by academic qualification and a User Interface
          Designer. My area of focus has always been functionality, with an
          extended interest in aesthetics (the look and feel of the design). I
          care about functional and yet easy to use designs, I think about the
          product funnel and the user's journey through it. I also care about
          product research, data driven design, metrics, A/B testing, iteration,
          typography, mockups and quick turn around time.
        </p>
      </div>
    </div>

    <div class="service__para"></div>
  </div>
  <div class="service__cards">
    <div class="card">
      <p class="card__subtitle">Visual Elements of User Interface Design</p>
      <p class="card__text">
        The aesthetic design of all visual elements of a digital product's user interface
      </p>
    </div>
    <div class="card">
      <p class="card__subtitle">UX Design Fundamentals</p>
      <p class="card__text">
        Empathy, strategy, usability, inclusivity, and validation.
      </p>
    </div>
    <div class="card">
      <p class="card__subtitle">
        Web Design: Strategy and Information Architecture
      </p>
      <p class="card__text">
        Guides the choices in how information is set up, arranged, and presented within a website
      </p>
    </div>
    <div class="card">
      <p class="card__subtitle">Web Design: Wireframes to Prototype</p>
      <p class="card__text">
        Wireframes, mockups, and prototypes are similar pieces in the website development process.
      </p>
    </div>
  </div>
</div>
