<div class="services">
  <div class="service__container">
    <h2 class="head__two">Provide quality services</h2>
    <div class="service">
      <div class="designer">
        <p class="subtitle"><span>01</span> Product Designer</p>
        <p class="paragraph">
          Responsible for the user experience of a product, usually taking
          direction of the business goals and objectives from product
          management.There are 50+ project
        </p>
        <div class="btn">
          <p>See Project</p>
        </div>
      </div>
      <div class="designer">
        <p class="subtitle"><span>02</span> Branding Designer</p>
        <p class="paragraph">
          Brand elements such as the logo, color scheme, typography and other
          design components that makes a brand stand out from competitors and
          recognizable
        </p>
        <div class="btn">See Project</div>
      </div>
    </div>
  </div>
</div>
