<div class="services">
  <div class="service__container">
  <div class="service__text">
    <p class="head__four spec">Specialization</p>
    
  <div>
    <h2 class="head__two">Ready to get involved?</h2>
      <p class="head__four">Lorem ipsum, dolor sit amet consectetur adipisicing elit. In magnam optio suscipit architecto similique fugit! Ad consequuntur cupiditate atque voluptate quis illo beatae. Vero repellat fuga suscipit doloremque enim iste rem quos. Illum neque autem eos amet ea incidunt repellendus voluptates explicabo saepe debitis? Cumque delectus labore laboriosam nam consequatur!</p>

  </div>
      
  </div>
     
     
    <div class="service__para"> </div>
    <!-- <h2 class="head__two">Provide quality services</h2>
    <div class="service">
      <div class="designer">
        <p class="subtitle"><span>01</span> Product Designer</p>
        <p class="paragraph">
          Responsible for the user experience of a product, usually taking
          direction of the business goals and objectives from product
          management.There are 50+ project
        </p>
        <div class="btn">
          <p>See Project</p>
        </div>
      </div>
      <div class="designer">
        <p class="subtitle"><span>02</span> Branding Designer</p>
        <p class="paragraph">
          Brand elements such as the logo, color scheme, typography and other
          design components that makes a brand stand out from competitors and
          recognizable
        </p>
        <div class="btn">See Project</div>
      </div>
    </div> -->
  </div>
  <div class="service__cards">
    <div class="card">
      <p class="subtitle">Visual Elements of User Interface Design</p>
      <p class="text2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum, magnam.</p>
    </div>
    <div class="card">
      <p class="subtitle">UX Design Fundamentals</p>
      <p class="text2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, voluptas?</p>
    </div>
    <div class="card">
      <p class="subtitle">Web Design: Strategy and Information Architecture</p>
      <p class="text2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, dicta.</p>
    </div>
    <div class="card">
      <p class="subtitle">Web Design: Wireframes to Prototype</p>
      <p class="text2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, inventore!</p>
    </div>
  </div>
</div>
