*{
    margin: 0 0 0 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
    
    
}
body{
    background-image: url('/assets/black.jpg');
    background-size: cover;
    background-attachment: fixed;
    color:white;
}
html{
    scroll-behavior: smooth;
}
