<div class="works">
    <p class="text1"> Our recent work</p>
    <p class="text2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit obcaecati ipsum sint alias deserunt neque architecto iure accusamus, sapiente incidunt reprehenderit sunt sed, sequi, voluptates nisi? Natus delectus esse animi.
    </p>
    <div class="btn">
        View all projects
    </div>
    <div class="work">
        
        <img src="/assets/img2.jpg" alt="">
        <div>
            <p class="text1">Nice Block Apple & Mango</p>
            <p class="text2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi excepturi itaque similique praesentium fugiat labore, totam repellendus molestiae placeat odit sed in. Libero aut iure, totam porro accusantium mollitia tempore.
            </p>
        </div>
    </div>
    <div class="work">
        
        
        <div>
            <p class="text1">Nice Block Apple & Mango</p>
            <p class="text2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi excepturi itaque similique praesentium fugiat labore, totam repellendus molestiae placeat odit sed in. Libero aut iure, totam porro accusantium mollitia tempore.
            </p>
        </div>
        <img src="/assets/img5.jpg" alt="">
    </div>
    <div class="work">
        
        <img src="/assets/img8.jpg" alt="">
        <div>
            <p class="text1">Nice Block Apple & Mango</p>
            <p class="text2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi excepturi itaque similique praesentium fugiat labore, totam repellendus molestiae placeat odit sed in. Libero aut iure, totam porro accusantium mollitia tempore.
            </p>
        </div>
        
    </div>
    
</div>
