<div class="works">
  <div class="splash__buttonAnim">
    <lottie-player src="../../assets/lf20_2srohwdu.json" autoplay loop  background="none" animation speed='.5'>
    </lottie-player> 
</div>
  <div class="service__container">
    <div class="service__text">
      <div class="service__left">
        <p class="head__four spec">Projects</p>
        <p class="number">02</p>
      </div>
      <div class="service__right"> 
        <h2 class="head__two">My Projects</h2>
        <p class="head__four">
      
          
        </p>
      </div>
    </div>

    <div class="service__para"></div>
  </div>

  <div class="projects">
    <div class="project">
      <div class="project__details">
        <p class="project__number subtitle">01</p>
        <p class="project__name subtitle">/Noodles Delight</p>
        <p class="project__description text2">This is a noodles delivery app for noodle lovers. It provides different verities to
          noodles with customized options for protein and sides. It's delivery is fast</p>
        <a class="project__link" href="https://xd.adobe.com/view/b68874ea-465a-4794-bd7e-aeefd9c73dca-e3db/"><img class="project__img" src="/assets/img10.jpg" alt=""></a>
      </div>
      
    </div>
    <div class="project">
      <div class="project__details">
        <p class="project__number subtitle">02</p>
        <p class="project__name subtitle">/My Ride</p>
        <p class="project__description text2">My Ride offers quality cooperative and private transportation services across the
          entire metro Atlanta area USA. Its an app that provides quick response and get
          you where you need to be on time.</p>
        <a class="project__link" href="https://xd.adobe.com/view/79d13b48-7e61-45f1-a764-b5009e78daf4-2c82/"><img class="project__img" src="/assets/img11.jpg" alt=""></a>
      </div>
      
    </div>
    <div class="project">
      <div class="project__details">
        <p class="project__number subtitle">03</p>
        <p class="project__name subtitle">/Rent a car</p>
        <p class="project__description text2"> Rent a car app helps you move at your convenience. It offers ranges of cars from
          city cars to luxury cars and you can also book instant trips and scheduled trips for
          short and extended period of time.</p>
        <a class="project__link" href="https://xd.adobe.com/view/05b9f668-866c-45a5-8311-58bed6e2c040-50ea/"><img class="project__img" src="/assets/img9.jpg" alt=""></a>
      </div>
      
    </div>
    <div class="project">`
      <div class="project__details">
        <p class="project__number subtitle">04</p>
        <p class="project__name subtitle">/Revpro</p>
        <p class="project__description text2">RevPro is an Automated Revenue Collection System. It is designed to collect
          payments for government services, taxes, scan and verify invoices and also
          account for all fiscal transactions.</p>
        <a class="project__link" href="https://xd.adobe.com/view/d325eac1-4b2e-4b7b-a77a-7c7fe3aa8bc2-8676/"><img class="project__img" src="/assets/img12.jpg" alt=""></a>
      </div>
      
    </div>
  </div>

  <!-- <div class="work">
    <img class="img1" src="/assets/img2.jpg" alt="" />
    <div class="content1">
      <p class="subtitle">Nice Block Apple & Mango</p>
      <p class="text2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
        excepturi itaque similique praesentium fugiat labore, totam repellendus
        molestiae placeat odit sed in. Libero aut iure, totam porro accusantium
        mollitia tempore.
      </p>
    </div>

    <div class="content2">
      <p class="subtitle">Nice Block Apple & Mango</p>
      <p class="text2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
        excepturi itaque similique praesentium fugiat labore, totam repellendus
        molestiae placeat odit sed in. Libero aut iure, totam porro accusantium
        mollitia tempore.
      </p>
    </div>
    <img class="img2" src="/assets/img5.jpg" alt="" />

    <img class="img3" src="/assets/img8.jpg" alt="" />
    <div class="content3">
      <p class="subtitle">Nice Block Apple & Mango</p>
      <p class="text2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
        excepturi itaque similique praesentium fugiat labore, totam repellendus
        molestiae placeat odit sed in. Libero aut iure, totam porro accusantium
        mollitia tempore.
      </p>
    </div>
  </div>
   -->
</div>
