<div class="works">
 

  <h2 class="head__two">My Projects</h2>
  <div class="projects">
    <div class="project">
      <div class="project__details">
        <p class="project__number subtitle">01</p>
        <p class="project__name subtitle">/Noodles Delight</p>
        <p class="project__description text2"> This is a noodles delivery app for noodles lovers. This app focuses on people who need fast food service</p>
        <a class="project__link" href="https://xd.adobe.com/view/b68874ea-465a-4794-bd7e-aeefd9c73dca-e3db/"><img class="project__img" src="/assets/img10.jpg" alt=""></a>
      </div>
      
    </div>
    <div class="project">
      <div class="project__details">
        <p class="project__number subtitle">02</p>
        <p class="project__name subtitle">/Web Portfolio</p>
        <p class="project__description text2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum quisquam dolorem pariatur?</p>
        <a class="project__link" href="https://xd.adobe.com/view/79d13b48-7e61-45f1-a764-b5009e78daf4-2c82/"><img class="project__img" src="/assets/img11.jpg" alt=""></a>
      </div>
      
    </div>
    <div class="project">
      <div class="project__details">
        <p class="project__number subtitle">03</p>
        <p class="project__name subtitle">/Rent a car</p>
        <p class="project__description text2"> Rent a car helps you move at your convenience. It offers ranges of cars from city cars to luxury cars.</p>
        <a class="project__link" href="https://xd.adobe.com/view/05b9f668-866c-45a5-8311-58bed6e2c040-50ea/"><img class="project__img" src="/assets/img9.jpg" alt=""></a>
      </div>
      
    </div>
    <div class="project">
      <div class="project__details">
        <p class="project__number subtitle">04</p>
        <p class="project__name subtitle">/Mobile Portfolio</p>
        <p class="project__description text2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas magnam magni tempora.</p>
        <a class="project__link" href="https://xd.adobe.com/view/d325eac1-4b2e-4b7b-a77a-7c7fe3aa8bc2-8676/"><img class="project__img" src="/assets/img12.jpg" alt=""></a>
      </div>
      
    </div>
  </div>

  <!-- <div class="work">
    <img class="img1" src="/assets/img2.jpg" alt="" />
    <div class="content1">
      <p class="subtitle">Nice Block Apple & Mango</p>
      <p class="text2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
        excepturi itaque similique praesentium fugiat labore, totam repellendus
        molestiae placeat odit sed in. Libero aut iure, totam porro accusantium
        mollitia tempore.
      </p>
    </div>

    <div class="content2">
      <p class="subtitle">Nice Block Apple & Mango</p>
      <p class="text2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
        excepturi itaque similique praesentium fugiat labore, totam repellendus
        molestiae placeat odit sed in. Libero aut iure, totam porro accusantium
        mollitia tempore.
      </p>
    </div>
    <img class="img2" src="/assets/img5.jpg" alt="" />

    <img class="img3" src="/assets/img8.jpg" alt="" />
    <div class="content3">
      <p class="subtitle">Nice Block Apple & Mango</p>
      <p class="text2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
        excepturi itaque similique praesentium fugiat labore, totam repellendus
        molestiae placeat odit sed in. Libero aut iure, totam porro accusantium
        mollitia tempore.
      </p>
    </div>
  </div>
   -->
</div>
